# Fuzz examplars are written to disk after fuzzing in these paths.
**/testdata

inabox/testdata/*
inabox/anvil.pid

test/v1/testdata/*
resources/srs/SRSTables/*
# resources/srs/SRSTables should be the main place where they are written to,
# but when running tests locally from other dirs they might write them locally.
**/SRSTable

**/bin/*
coverage.*

contracts/broadcast

lightnode/docker/build-info.txt
lightnode/docker/args.sh

.idea
.env
.vscode
.serena

icicle/*

# OSX specific
.DS_Store
