inabox/testdata/*
inabox/anvil.pid

test/testdata/*
inabox/resources/kzg/SRSTables/*
encoding/kzgrs/prover/data/SRSTable/*
resources/srs/SRSTables/*

dist
**/bin/*
coverage.*

contracts/broadcast

lightnode/docker/build-info.txt
lightnode/docker/args.sh

.idea
.env
.vscode
.cursor
.serena

icicle/*

# OSX specific
.DS_Store
