inabox/testdata/*
inabox/anvil.pid

test/testdata/*
inabox/resources/kzg/SRSTables/*
encoding/kzgrs/prover/data/SRSTable/*

**/bin/*
coverage.*

contracts/broadcast

lightnode/docker/build-info.txt
lightnode/docker/args.sh

.idea
.env
.vscode

icicle/*

# TODO make sure this is ok to do
subgraphs/eigenda-operator-state/yarn.lock

# OSX specific
.DS_Store
