[submodule "operator-setup"]
	path = operator-setup
	url = https://github.com/Layr-Labs/eigenda-operator-setup.git
[submodule "optimism"]
	path = optimism
	url = https://github.com/ethereum-optimism/optimism
