**/node_modules
**/generated
**/tests/.bin
**/tests/*.json
**/build

eigenda-operator-state/networks.json
eigenda-operator-state/subgraph.yaml
eigenda-operator-state/Makefile

eigenda-batch-metadata/networks.json
eigenda-batch-metadata/subgraph.yaml
eigenda-batch-metadata/Makefile
