# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/40525/
/broadcast/**/dry-run/

# Dotenv file
.env

data/

script/output/*
script/input/eigenda_deploy_config.json

# yarn dependencies
yarn.lock
node_modules

# release dependencies
artifacts/