name: lint
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

env:
  MISE_VERSION: 2024.12.14

jobs:
  golangci:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout EigenDA
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2

      - uses: jdx/mise-action@v2
        with:
          version: ${{ env.MISE_VERSION }}
          experimental: true
      - run: go version
      
      - name: Run linter
        run: |
          # Use PR base branch if available, otherwise the command line flag is ignored and master is used
          golangci-lint run --new-from-rev=origin/${{ github.event.pull_request.base.ref || 'master' }}
      
      - run: make fmt-check
