name: integration-tests
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

env:
  MISE_VERSION: 2024.12.14

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Add LocalStack AWS Credentials
        run: |
          mkdir -p ~/.aws
          touch ~/.aws/credentials

          echo '[default]' >> ~/.aws/credentials
          echo 'aws_access_key_id=localstack' >> ~/.aws/credentials
          echo 'aws_secret_access_key=localstack' >> ~/.aws/credentials

      - name: Set Test Profile to default
        run: |
          aws configure --profile test-profile set region us-east-1
          aws configure --profile test-profile set source_profile default

      - name: Checkout EigenDA
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          submodules: recursive

      - uses: jdx/mise-action@v2
        with:
          version: ${{ env.MISE_VERSION }}
          experimental: true

      - run: go version
      - run: forge --version

      - name: Build and compile contracts
        run: make compile
        working-directory: contracts

      - run: make integration-tests

  fuzz-tests:
    name: Fuzz Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout EigenDA
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          submodules: recursive

      - uses: jdx/mise-action@v2
        with:
          version: ${{ env.MISE_VERSION }}
          experimental: true

      - run: make fuzz-tests

  inabox-tests:
    name: Inabox Tests
    runs-on: ubuntu-latest
    steps:
      - name: Add LocalStack AWS Credentials
        run: |
          mkdir -p ~/.aws
          touch ~/.aws/credentials

          echo '[default]' >> ~/.aws/credentials
          echo 'aws_access_key_id=localstack' >> ~/.aws/credentials
          echo 'aws_secret_access_key=localstack' >> ~/.aws/credentials

      - name: Set Test Profile to default
        run: |
          aws configure --profile test-profile set region us-east-1
          aws configure --profile test-profile set source_profile default

      - name: Checkout EigenDA
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          submodules: recursive

      - uses: jdx/mise-action@v2
        with:
          version: ${{ env.MISE_VERSION }}
          experimental: true

      - run: go version
      - run: forge --version

      - name: Build and compile contracts
        run: make compile
        working-directory: contracts

      - run: make integration-tests-inabox

      - name: Save inabox logs
        if: always()
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6
        with:
          name: inabox-logs
          path: |
            inabox/testdata/*/logs/
            inabox/testdata/*/deploy.log

  payment-tests:
    name: Payment Tests
    runs-on: ubuntu-latest
    steps:
      - name: Add LocalStack AWS Credentials
        run: |
          mkdir -p ~/.aws
          touch ~/.aws/credentials

          echo '[default]' >> ~/.aws/credentials
          echo 'aws_access_key_id=localstack' >> ~/.aws/credentials
          echo 'aws_secret_access_key=localstack' >> ~/.aws/credentials

      - name: Set Test Profile to default
        run: |
          aws configure --profile test-profile set region us-east-1
          aws configure --profile test-profile set source_profile default

      - name: Checkout EigenDA
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          submodules: recursive

      - uses: jdx/mise-action@v2
        with:
          version: ${{ env.MISE_VERSION }}
          experimental: true

      - run: go version
      - run: forge --version

      - name: Build and compile contracts
        run: make compile
        working-directory: contracts

      - name: Build EigenDA binaries
        run: make build

      - name: Run payment integration tests
        run: make run-payments-tests
        working-directory: inabox

      - name: Save payment test logs
        if: always()
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6
        with:
          name: payment-test-logs
          path: |
            inabox/testdata/*/logs/
            inabox/testdata/*/deploy.log

  notify-slack:
    name: Notify Slack
    runs-on: ubuntu-latest
    needs: [integration-tests, fuzz-tests, inabox-tests, payment-tests]
    if: failure()
    steps:
      - name: Send GitHub Action trigger data to Slack eigenda-pr channel
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "workflow": "${{ github.workflow }}",
              "action_name": "${{ github.action }}",
              "ref": "${{ github.ref_name }}",
              "actor": "${{ github.triggering_actor }}",
              "event_name": "${{ github.event_name }}",
              "run_id": "https://github.com/Layr-Labs/eigenda/actions/runs/${{ github.run_id }}",
              "commit_sha": "https://github.com/Layr-Labs/eigenda/commit/${{ github.sha }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
