name: release

on:
  push:
    tags:
      - v*
    # Also trigger on pushes to master to make sure docker builds work.
    branches:
      - master
  workflow_dispatch:
    inputs:
      force:
        description: "Force untagged release (expert mode)"
        required: false
        default: false
        type: boolean

env:
  REGISTRY: ghcr.io
  CACHE-FROM: /tmp/.buildx-cache
  CACHE-TO: /tmp/.buildx-cache-new

jobs:
  # Build the node, nodeplugin, and proxy docker images and push to ghcr.
  build-docker-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v1.1.1
        with:
          versionSpec: "5.x"

      - name: Determine SemVer
        uses: gittools/actions/gitversion/execute@v1.1.1
        with:
          useConfigFile: true

      - run: |
          echo "SemVer ${{ env.fullSemVer }} Forced ${{ github.event.inputs.force }}"
        name: Display SemVer

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
          driver-opts: image=moby/buildkit:master

      - name: Cache docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
        if: ${{ success() }}

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ success() }}

      # We only push on `v*` tags or if the force input is true.
      # We still run the build on every push to master just to ensure the images build correctly.
      - name: Set release PUSH_FLAG
        run: echo "PUSH_FLAG=--push" >> $GITHUB_ENV
        if: startsWith(github.ref, 'refs/tags/v') || github.event.inputs.force == 'true'

      - name: Build (and potentially push) docker image release
        # The PUSH_FLAG is ingested by the Makefile and passed to docker buildx bake command.
        run: PUSH_FLAG=$PUSH_FLAG make docker-release-build

  # Creates a draft GitHub release containing the eigenda-proxy binaries built.
  # The binaries are meant to be used by the rust client for teams that don't want to manage a sidecar proxy themselves.
  # The release notes should be updated according to our release process, and undrafted when ready.
  # See https://www.notion.so/eigen-labs/Monorepo-Release-Mgmt-21f13c11c3e0802b9d7fcf4173a49d12 for more info.
  # Note: this doesn't wait for build-docker-and-push to complete successfully,
  # so the draft release may be created even if the docker build fails.
  build-proxy-and-publish-to-draft-release:
    if: github.ref_type == 'tag'
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: darwin
            goarch: arm64
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@v2
        with:
          version: ${{ env.MISE_VERSION }}
          experimental: true
          working_directory: api/proxy
      - run: make build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        working-directory: api/proxy
      - run: mv bin/eigenda-proxy bin/eigenda-proxy-${{ matrix.goos }}-${{ matrix.goarch }}
        working-directory: api/proxy
      - name: Create Draft Release with Proxy Binaries
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: api/proxy/bin/eigenda-proxy-${{ matrix.goos }}-${{ matrix.goarch }}
