name: subgraph-tests
on:
  push:
    branches:
      - master
    paths:
      - 'subgraphs/**'
  pull_request:
    branches:
      - master
    paths:
      - 'subgraphs/**'

jobs:
  test-subgraphs:
    name: Test ${{ matrix.subgraph }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        subgraph: [eigenda-operator-state, eigenda-batch-metadata, eigenda-payments]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        with:
          version: ${{ env.MISE_VERSION }}
          experimental: true
          
      - name: Output Graph version
        run: |
          graph --version

      - name: Check ABI is up to date
        working-directory: subgraphs/${{ matrix.subgraph }}
        run: |
          if [ -f "./scripts/update-abi.sh" ]; then
            echo "Running ABI update check for ${{ matrix.subgraph }}..."
            ./scripts/update-abi.sh
          else
            echo "No update-abi.sh script found for ${{ matrix.subgraph }}, skipping ABI check"
          fi
        env:
          CI: true

      - name: Test ${{ matrix.subgraph }} subgraph
        working-directory: subgraphs/${{ matrix.subgraph }}
        run: |
          # Copy template files
          cp ./templates/subgraph.yaml .
          cp ./templates/networks.json .
          
          yarn install
          yarn codegen
          yarn test 