name: test-contracts

on:
  push:
  pull_request:
    types: [opened, reopened]

env:
  FOUNDRY_PROFILE: ci

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  check:
    name: Foundry Project
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install forge dependencies
        run: forge install
        working-directory: ./contracts

      - name: Run tests
        run: forge test -vvv
        working-directory: ./contracts

      - name: Run snapshot
        run: forge snapshot
        working-directory: ./contracts

## This check ensures that any modifications made to contract storage are caught loudly
## in CI
  validate-storage:
    name: Storage mapping validation
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install forge dependencies
        run: forge install
        working-directory: ./contracts

      - name: Run validation script
        run: ./storage-verify.sh
        working-directory: ./contracts
